Flask==2.1.1
Flask_Cors==4.0.0
Flask_JWT_Extended==4.6.0
opencv_python==4.7.0.72
psycopg2==2.9.9
validate_email_address==1
Werkzeug==2.3.4
numpy==1.23.5
python-socketio==5.11.0
flask_socketio==5.3.6
fer==22.5.1
SpeechRecognition==3.10.1
tensorflow==2.10.0
openai==1.9.0
cohere==4.44
openai-whisper==20231117
langdetect==1.0.9